*.*
out

!.gitignore
!.gitattributes
!**/README.md

# Project folders
!QOpenGL-example/resources/*[.qrc, .png]
!QOpenGL-example/src/**/*[.cppm, .ixx, .cpp, .cxx, .hpp, .hxx, .c, .h]

!ThisProject/ui/*[.ui]
!ThisProject/shaders/**/*[.glsl, .frag, .vert]
!ThisProject/src/**/*[.cppm, .ixx, .cpp, .cxx, .hpp, .hxx, .c, .h]

!**/CMakeLists.txt
!CMakePresets.json
!vcpkg.json